Repository rdragon7/react-ts-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn stylelint

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx,vue}": "yarn eslint",
  "src/**/*.{vue,css,scss}": "yarn stylelint"
}

feat(css): add 2 css
  .husky/pre-commit
  src/style/test2.css
Due: yarn stylelint

🎉 init(init): this is init project
  src/index.css
  src/style/index.css
  src/style/index.less
  src/style/test.css
  src/style/test.less
  src/style/test2.css
  src/utils/index.js
Due: yarn eslint, yarn stylelint

feat(less): less resubmit
  package.json
  src/App.tsx
  src/main.tsx
  src/style/base.less
  yarn.lock
Due: yarn eslint

🎈 perf(alias): alias config
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: yarn eslint

✨ feat(less): less config
  src/App.tsx
  src/style/base.less
  vite.config.ts
Due: yarn eslint

✨ feat(axios and router config): this is config
  .eslintrc.cjs
  package.json
  src/App.tsx
  src/api/config.ts
  src/api/index.ts
  src/api/request.ts
  src/api/types.ts
  src/components/NavBar/index.tsx
  src/components/NavBar/style.module.less
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/about/style.module.less
  src/pages/count/index.tsx
  src/pages/count/style.module.less
  src/pages/home/index.tsx
  src/pages/home/style.module.less
  src/pages/layout/index.tsx
  src/pages/layout/style.module.less
  src/pages/login/index.tsx
  src/pages/login/style.module.less
  src/pages/notFond/index.tsx
  src/router/index.tsx
  yarn.lock
Due: yarn eslint

✨ feat(redux): redux config
  src/App.tsx
  src/pages/count/index.tsx
  src/pages/count/style.module.less
  src/store/hook.ts
  src/store/index.ts
  src/store/slice/counterSlice.ts
Due: yarn eslint

feat(internal): internationalization
  package.json
  src/assets/images/baobao.png
  src/components/NavBar/index.tsx
  src/components/NavBar/style.module.less
  src/i18n/config.ts
  src/i18n/en.json
  src/i18n/zh.json
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/count/index.tsx
  src/pages/home/index.tsx
  src/pages/login/index.tsx
  src/store/slice/counterSlice.ts
  src/utils/formatData.ts
  src/utils/hooks/useLocal.tsx
  yarn.lock
Due: yarn eslint
